
body{
    margin:0;
    padding: 0;
    background: url(../img/img1.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
    height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background:   #f7f9f9 ;
  color:     #85929e ;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
  border-radius: 20px;
}
.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left: calc(50% - 50px);

}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label{
    margin: 0;
    padding: 0;
    front-weight: bold;
    display: block;

}

.login-box input{
    width: 100%;
    margin-bottom: 20px;

}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color:  #85929e ;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background:  #85c1e9 ;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;


}







